{% extends 'base.html.twig' %}

{% block body %}

<style>
    #formation_dateDebut{
        width: 10vw;
        display:block;
    }
    #formation_dateFin{
        width: 10vw;
        display:block;
    }
    #formation_intitule{
        width: 25vw;
        display:block;
    }
    #formation_presentation{
        width: 25vw;
        display:block;
    }
    #formation_nbPlace{
        width: 8vw;
        display:block;
    }
    #titre{
        text-decoration: underline;
    }
</style>

<div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                {# {{ form_start(form) }}

                {{ form_row(form.intitule) }}
                {{ form_row(form.presentation) }}
                {{ form_row(form.nbPlace) }}
                {{ form_row(form.dateDebut) }}
                {{ form_row(form.dateFin) }}
                {{ form_row(form.submit) }}

                {# Mystère
                {{ form_row(form._token) }}

                {{ form_end(form) }} #}

                <a href="{{ path('formation') }}"><button type="button" class="btn btn-light btn-fw">Retour</button> </a>               

                <div class="container">
                {% if editMode %}
                    <h2 id="titre">Modification de la formation<h2>
                {% else %}
                    <h2 id="titre">Création d'une nouvelle formation<h2>
                {% endif %}

                <br>
                    {{ form(form) }}
                
                
                <div>
            </div>
        </div>
    </div>
    </div>



{% endblock %}