{% extends 'base.html.twig' %}

{% block body %}

    <style>
        li{
            list-style: none;
        }
    </style>

    {{ form_start(form) }}

    <h3>Ajouter les Stagiaires</h3>

    <input type="hidden" id="maxNb" value={{ formation.nbPlace }}></input>

    <ul id="collections" data-prototype="{{ form_row(form.stagiaires.vars.prototype)|e('html_attr') }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for stagiaire in form.stagiaires %}
            <li id="collection">{{ form_row(stagiaire) }}</li>
        {% endfor %}
    </ul>

    {{ form_row(form.save) }}

    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="/js/collectionHandler.js"></script>

{% endblock %}
