<style>

body {
    font-family: monospace;
}

div {
    margin: 15px;
    padding: 5px;
}

.titre {
    padding: 10px;
    border: 2px solid;
    text-align: center;
}

.cachet {
    width:300px;
    height:125px;
    border: 1px solid;
    margin:1px 125px;
}

.lieu {
    text-align: center;
    font-style: italic;
}

</style>

<body>

    <div>
    <h1 class="titre" >Attestation de formation</h1>
    <div>

    <div>
        <p>Je soussignée : Mad MAX, représentant de l'organisme <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Deal One formation</strong></p>
    </div>

    <div>
        <p>Cachet de l'entreprise : <p>
        <p class="cachet"> </p>
    </div>

    <br><br>
    <div>
        <p>Atteste que : {{ stagiaire.prenom }} {{ stagiaire.nom }} a suivi la formation 
        <br><br>{% for formation in stagiaire.formations %}
                    {{ formation.intitule }}
                {% endfor %}<p>
    </div>

    <div>
        <p>Lieu de la formation : Deal One Formation</p>
    </div>

    <div>
        <p>Dates de la formation: du{% for formation in stagiaire.formations %}
                                        {{ formation.dateDebut|date('d/m/Y') }} au
                                        {{ formation.dateFin|date('d/m/Y') }}
                                    {% endfor %}.</p>
    </div>

    <br><br>
    <div class="lieu">
        <p>Fait à Nouillork, le {{ "now"|date("d/m/Y") }}</p>
    </div>

</body>