{% extends 'base.html.twig' %}


{% block body %}

    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Home Page</a>
            <span>/</span>
            <span>Dashboard</span>
            </h4>

        </div>

    </div>
    <!-- Heading -->

<div class="content-wrapper">
    <div class="row">

        <div class="col-lg-7 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                
                    <h4 class="card-title"> {{ formation.intitule }} </h4>
                        <p class="card-description"> Présentation </p>
                        <div class="form-group">
                            <p>{{ formation.presentation }}</p>
                        </div>
                        <a role="button" class="btn btn-outline-success" href="{{ path('edit_formation', {'id': formation.id}) }}"> Edit </a>
                        <a role="button" class="btn btn-outline-success" href="{{ path('addStagiaire_formation', {'id': formation.id}) }}"> + Stagiaire </a>
                        <a role="button" class="btn btn-outline-success" href="{{ path('addModule_formation', {'id': formation.id}) }}"> + Module </a>
                        <a role="button" class="btn btn-outline-success" href="{# {{ path('addRessource_formation', {'id': formation.id}) }} #}"> + Ressource </a>

                </div>
            </div>
        </div>

        <div class="col-lg-5 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" style="text-align:center">Module</th>
                                <th scope="col" style="text-align:center">Nb Jours</th>
                            </tr>

                        </thead>
                        <tbody>
                            {% for key, categorie in modulesByCat %}
                                <tr>
                                    <th colspan="2" style="text-align:center">{{key}}</th>
                                </tr>
                                {% for duree in categorie %}
                                    <tr>
                                        <td style="text-align:center">{{duree.module.intitule}}</td>
                                        <td style="text-align:center">{{duree.nbJour}}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th >Nom</th>
                                <th >Date de naissance</th>
                                <th >Mail</th>
                                <th >Télephone</th>
                                <th >Avatar</th>
                                <th >Profil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for stagiaire in formation.stagiaires %}
                                    <tr>
                                        <td>{{ stagiaire.nom ~ ' ' ~ stagiaire.prenom }}</td>
                                        <td>{{ stagiaire.dateNaissance|date('d/m/Y') }}</td>
                                        <td>{{ stagiaire.mail }}</td>
                                        <td>{{ stagiaire.telephone }}</td>
                                        <td><img class="rounded-circle" src="{{ stagiaire.avatar }}" width="50" alt=""></td>
                                        <td>
                                            <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">
                                                <button class="btn btn-info" type="button">Détails</button>
                                            </a>

                                            <!-- Button trigger modal-->
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDelete">x</button>

                                            <!--Modal: modalConfirmDelete-->
                                            <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                                                <!--Content-->
                                                <div class="modal-content text-center">
                                                <!--Header-->
                                                <div class="modal-header d-flex justify-content-center">
                                                    <p class="heading">Are you sure?</p>
                                                </div>

                                                <!--Footer-->
                                                <div class="modal-footer flex-center" style="margin:0 auto">
                                                    <a href="{{ path('deleteStagaire_formation', {'id': formation.id, 'idstagiaire': stagiaire.id}) }}" class="btn  btn-outline-danger">Yes</a>
                                                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                                                </div>
                                                </div>
                                                <!--/.Content-->
                                            </div>
                                            </div>
                                            <!--Modal: modalConfirmDelete-->
                                            &nbsp;&nbsp;
                                            <a href="{{ path('pdf', {'id': stagiaire.id}) }}" target="_blank">pdf</a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>




{% endblock %}

